<div style="margin: 2% 10% 0% 10%;">
<h2 style="margin-top: 3%;">Products</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>description</th>
      <th>dateofproduction</th>
      <th>madeby</th>
      <th colspan="2">operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsList">
      <td>{{ product.id }}</td>
      <td><a [title]="product.name + 'detail'" [routerLink]="['/products' , product.id]">
          {{ product.name }}
        </a></td>
      <td>{{ product.price }}</td>
      <td>{{product.description}}</td>
      <td>{{product.dateofproduction.toLocaleDateString().replace('/', '-').replace('/','-')}}</td>
      <td>{{product.madeby}}</td>
      <td><button (click)="share(product.name)">share</button></td>
      <td><app-product-alerts
        [product]="product"
        (notify)="onNotify(product.price)">
      </app-product-alerts></td>
    </tr>
  </tbody>
</table>
</div>